# selecting a subset of the dataframe

In [1]:
import pandas as pd

In [2]:
popList = pd.read_excel("world_population_excel_workbook.xlsx")
popList

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [3]:
pop_2020 = popList['2020 Population']
pop_2020

0      38972230
1       2866849
2      43451666
3         46189
4         77700
         ...
229       11655
230      556048
231    32284046
232    18927715
233    15669666
Name: 2020 Population, Length: 234, dtype: int64

In [4]:
pop_2020.shape

(234,)

In [5]:
country_2020pop = popList[["Country","2020 Population"]]
country_2020pop

               Country  2020 Population
0          Afghanistan         38972230
1              Albania          2866849
2              Algeria         43451666
3       American Samoa            46189
4              Andorra            77700
..                 ...              ...
229  Wallis and Futuna            11655
230     Western Sahara           556048
231              Yemen         32284046
232             Zambia         18927715
233           Zimbabwe         15669666

[234 rows x 2 columns]

In [6]:
country_2020pop.shape

(234, 2)

In [11]:
#filter out population > 40000000
above_40million = popList[popList["2020 Population"] > 200000000]
above_40million

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
27,7,BRA,Brazil,Brasilia,South America,215313498,213196304,205188205,196353492,175873720,150706446,122288383,96369875,8515767,25.2841,1.0046,2.70
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45
149,6,NGA,Nigeria,Abuja,Africa,218541212,208327405,183995785,160952853,122851984,95214257,72951439,55569264,923768,236.5759,1.0241,2.74
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24

In [12]:
popList["2020 Population"] > 400000000

0      False
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231    False
232    False
233    False
Name: 2020 Population, Length: 234, dtype: bool

In [15]:
res = popList["2020 Population"].isin(["South America"])
res

0      False
1      False
2      False
3      False
4      False
       ...
229    False
230    False
231    False
232    False
233    False
Name: 2020 Population, Length: 234, dtype: bool

In [21]:
res1 = popList.loc[popList["Continent"] == "South America", "Country"]
res1

8             Argentina
24              Bolivia
27               Brazil
40                Chile
42             Colombia
56              Ecuador
64     Falkland Islands
69        French Guiana
86               Guyana
161            Paraguay
162                Peru
199            Suriname
223             Uruguay
227           Venezuela
Name: Country, dtype: object

In [22]:
#rows 10 to 30 and columns 1 to 5
res2 = popList.iloc[10:30, 1:5]
res2

   CCA3                 Country              Capital      Continent
10  ABW                   Aruba           Oranjestad  North America
11  AUS               Australia             Canberra        Oceania
12  AUT                 Austria               Vienna         Europe
13  AZE              Azerbaijan                 Baku           Asia
14  BHS                 Bahamas               Nassau  North America
15  BHR                 Bahrain               Manama           Asia
16  BGD              Bangladesh                Dhaka           Asia
17  BRB                Barbados           Bridgetown  North America
18  BLR                 Belarus                Minsk         Europe
19  BEL                 Belgium             Brussels         Europe
20  BLZ                  Belize             Belmopan  North America
21  BEN                   Benin           Porto-Novo         Africa
22  BMU                 Bermuda             Hamilton  North America
23  BTN                  Bhutan              Thimphu           Asia
24  BOL                 Bolivia                Sucre  South America
25  BIH  Bosnia and Herzegovina             Sarajevo         Europe
26  BWA                Botswana             Gaborone         Africa
27  BRA                  Brazil             Brasilia  South America
28  VGB  British Virgin Islands            Road Town  North America
29  BRN                  Brunei  Bandar Seri Begawan           Asia